'.source.js':

  ################################
  # Expectations
  ################################

  'Expect not to be defined':
    prefix: 'notd'
    body:   'expect($1).not.toBeDefined();'
  'Expect not to be falsy':
    prefix: 'notf'
    body:   'expect(${1:target}).not.toBeFalsy();'
  'Expect not to be null':
    prefix: 'notn'
    body:   'expect(${1:target}).not.toBeNull();'
  'Expect not to be truthy':
    prefix: 'nott'
    body:   'expect(${1:target}).not.toBeTruthy();'
  'Expect not to contain':
    prefix: 'notc'
    body:   'expect(${1:target}).not.toContain(${2:value});'

  'Expect to be defined':
    prefix: 'ed'
    body: 'expect($1).toBeDefined();'
  'Expect to be falsy':
    prefix: 'ef'
    body:   'expect(${1:target}).toBeFalsy();'
  'Expect to be null':
    prefix: 'en'
    body:   'expect(${1:target}).toBeNull();'
  'Expect to be truthy':
    prefix: 'et'
    body:   'expect(${1:target}).toBeTruthy();'
  'Expect to contain':
    prefix: 'ec'
    body:   'expect(${1:target}).toContain(${2:value});'
  'Expect to equal':
    prefix: 'ee'
    body:   'expect(${1:target}).toEqual(${2:value});'
  'Expect to match':
    prefix: 'em'
    body:   'expect(${1:target}).toMatch(${2:pattern});'
  'Expect to have been called':
    prefix: 'ebc'
    body:   'expect(${1:target}).toHaveBeenCalled();'
  'Expect to have been called with':
    prefix: 'ebcw'
    body:   'expect(${1:target}).toHaveBeenCalledWith("${2:value}");'
  'Expect to throw error':
    prefix: 'ete'
    body:   'expect(${1:target}).toThrowError("${2:error}");'

  'Expect':
    prefix: 'ex'
    body: 'expect($1)$2;'


# TODO Add Coffee equivalents
